{% extends 'base.html' %} {%load static%}
<!-....................->
{%block titulo%}HOME{%endblock titulo%} {% block contenido %}

<section class="container container-fluid">
  <article class="row mb-3">
    <div class="col-md-6 themed-grid-col">
      <h4 style="font-family: sans-serif">
        Todas las novedades y utilidades en torno a la tecnologías y el uso
        aplicado de la <strong>Inteligencia Artificial</strong>.
      </h4>
      <p>
        Medicina, construcción, aprendizaje, y muchos otros tópicos de la vida
        que día con día se ven transformados poco a poco por este arte que
        llamamos tecnología...
      </p>
    </div>
    <img
      src="../static/img/home_art1.jpg"
      alt="imagen de ia en monos"
      class="col-md-6 themed-grid-col"
    />
  </article>
</section>
{% endblock contenido %}
